
Intermediate/Build/Win64/BloodMageGuardAIEditor/Development/Engine/SharedPCH.Engine.h.pch
.vs/BloodMageGuardAI/v15/Browse.VC.db
.vs/BloodMageGuardAI/v16/ipch/AutoPCH/a10afb128ca1e9ec/PRIMITIVECOMPONENT.ipch
.vs/BloodMageGuardAI/v16/Browse.VC.db
BloodMage/Saved/Backup/MCv2_2020-02-23-18-03-28.uasset
BloodMage/Saved/Backup/MCv2_2020-02-23-17-53-14.uasset
BloodMage/Saved/Backup/MCv2_2020-02-23-17-24-58.uasset
BloodMage/Saved/Backup/BloodBullet_2020-02-23-17-58-18.uasset
BloodMage/Saved/Backup/BloodBullet_2020-02-23-17-50-29.uasset
BloodMage/Saved/AutoScreenshot.png
BloodMage/Saved/Autosaves/Game/ThirdPersonCPP/Maps/ThirdPersonExampleMap_Auto2.umap
BloodMage/Saved/Autosaves/Game/ThirdPersonCPP/Maps/ThirdPersonExampleMap_Auto1.umap
BloodMage/Saved/Autosaves/Game/ThirdPersonCPP/Maps/ThirdPersonExampleMap_Auto2.umap
BloodMage/Saved/Autosaves/Game/ThirdPersonCPP/Maps/ThirdPersonExampleMap_Auto1.umap
BloodMage/Saved/Backup/ThirdPersonExampleMap_2020-02-23-17-26-44.umap
BloodMage/Saved/Backup/ThirdPersonExampleMap_2020-02-23-17-42-23.umap
BloodMage/Saved/Backup/ThirdPersonExampleMap_2020-02-23-17-53-49.umap
BloodMage/Saved/Backup/ThirdPersonExampleMap_2020-02-23-18-00-41.umap
BloodMage/Saved/Backup/ThirdPersonExampleMap_2020-02-23-18-05-51.umap
BloodMage/Saved/Backup/ThirdPersonExampleMap_BuiltData_2020-02-23-17-42-24.uasset
BloodMage/Saved/Backup/ThirdPersonExampleMap_BuiltData_2020-02-23-17-57-10.uasset
BloodMage/Saved/Backup/ThirdPersonExampleMap_BuiltData_2020-02-23-18-05-52.uasset
BloodMage/Saved/Config/CrashReportClient/UE4CC-Windows-47BA8D474DB1C76EA2368CAA9124768F/CrashReportClient.ini
*.log
*.bin
